* {
    padding: 0.5;
    margin: 0.5;
}
body{
    background-image: linear-gradient(to bottom right, orange, yellow);
    background-attachment: fixed;
    margin: 25px;
    color: black;
}
#h2 {
    background: aliceblue;
    font-size: 35px;
    text-align: center;
}
#h3{
    font-size: 28px;
}
#paragraph{
    font-size: 20px;
}
#Disclaimer{
    font-size: 20px;
}
#direction{
    font-size: 20px;
}
#route_finder {
    background-color: rgb(255, 255, 255); /* Green */
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
#uber{
    padding:50px;
}
#metro{
    padding:50px;
}
#flightaware{
    padding:50px;
}